body {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: column;
  background: #1F2937;
  color: #F9FAF8;
  padding: 0 200px 0 200px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: 700;
}

.header-links {
  display: flex;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #F9FAF8;
}

img {
  width: 50%;
  height: auto;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  font-size: 48px;
  font-weight: bolder;
}

.header-signup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signup {
  flex: 0;
  margin: 0;
  padding: 16px;
}